/* Scoreboard.css */

.scoreboard-container {
    background-color: #191919;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.scoreboard-action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(115deg, #000000, #cdcdcd, #ffffff);
    padding: 5px 20px;
    box-shadow: 2px 2px 5px rgb(255, 255, 255);
    margin-bottom: 30px;
}

.scoreboard-logout-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    border: 3px solid #000000;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.scoreboard-back-button {
    background-color: #ffffff;
    color: #040404;
    border: 3px solid #000000;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.scoreboard-logout-button:hover {
    background-color: #ff0000;
    color: #ffffff;
    border: 3px solid #ff0000;
}

.scoreboard-back-button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #000000;
}

.scoreboard-player-info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #000000;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(35deg, #bbf8ff, #39e7fd, #ccf8ff);
    border: 1px solid #00e3ff;

}







h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    max-width: 600px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #818181;
}

th {
    background: linear-gradient(180deg, #c1c1c1, #fdfdfd, #4e4e4e);
    color: #050505;
}

tr:nth-child(even) {
    background-color: #111;
}

tr:hover {
    background-color: #222;
}

button {

    background-color: #000000;
    border: 3px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffffff;
    border: 3px solid #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;

}