.manage-container {
    background-color: transparent;
    border: none; /* Remove any border */


}
html, body {
    margin: 0;
    padding: 0;
    border: none; /* Remove any borders */
    background-color: transparent; /* Ensure no background color is applied */
}
